<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.megvii.dbsource.oracle.mapper.PhotoMapper">
  <resultMap id="BaseResultMap" type="com.megvii.po.Photo">
    <result column="XM" jdbcType="VARCHAR" property="name"/>
    <result column="SFZH" jdbcType="VARCHAR" property="cardId"/>
    <result column="RKSJ" jdbcType="DATE" property="createTime"/>
    <result column="TAB_ID" jdbcType="VARCHAR" property="id"/>
    <result column="ZHBGSJ" jdbcType="VARCHAR" property="changeTime"/>
  </resultMap>

  <resultMap id="DataReusltMap" type="com.megvii.po.Data">
    <result column="PHTO" jdbcType="BLOB" property="photoFileData"/>
  </resultMap>

  <select id="selectPhotoByPage" resultMap="BaseResultMap">
    SELECT * FROM
    ( SELECT A.*, ROWNUM RN
    FROM (select * from (select * from ${tableNaem} where ZHBGSJ >= to_date(#{2,jdbcType=VARCHAR},'yyyy/mm/dd hh24:mi:ss')) ORDER BY ZHBGSJ,SFZH  asc) A
    WHERE ROWNUM &lt;=#{1} )
    WHERE RN &gt;  #{0}
  </select>

  <select id="selectPhotoByPageNoOrder" resultMap="BaseResultMap">
    SELECT * FROM
    ( SELECT A.*, ROWNUM RN
    FROM (SELECT * FROM ${tableNaem} where ZHBGSJ &gt;= to_date(#{2,jdbcType=VARCHAR},'yyyy/mm/dd hh24:mi:ss') ORDER BY ZHBGSJ,SFZH  asc) A
    WHERE ROWNUM &lt;=#{1} )
    WHERE RN &gt;  #{0}
  </select>


  <select id="selectPhotoCount"  resultType="java.lang.Integer">
    SELECT count(SFZH)  FROM ${tableNaem} WHERE RKSJ &gt;= to_date(#{date},'yyyy/mm/dd hh24:mi:ss')
  </select>



  <select id="selectPhotoByCardId" resultMap="DataReusltMap">
    select PHTO from ${tableNaem} where SFZH = '${cardId}'
  </select>



  <insert id="testInsert" parameterType="Map">
    INSERT INTO "SCOTT"."photo" ("id", "SFZH", "XM", "XB", "XP", "MZ","HJ","RKSJ_ZYK") VALUES (#{id},#{cradId},#{id},'1',#{bytes,jdbcType=BLOB},'汉','shandong',to_date(#{changeTiem},'yyyy/mm/dd hh24:mi:ss'))
  </insert>


</mapper>