<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.megvii.dbsource.oracle.mapper.PhotoMapper">
  <resultMap id="BaseResultMap" type="com.megvii.po.Photo">
    <result column="XM" jdbcType="VARCHAR" property="name"/>
    <result column="SFZH" jdbcType="VARCHAR" property="cardId"/>
    <result column="RKSJ_ZYK" jdbcType="DATE" property="changeTime"/>
    <result column="XB" jdbcType="VARCHAR" property="sex"/>
    <result column="XP" jdbcType="BLOB" property="photoFileData"/>
    <result column="MZ" jdbcType="VARCHAR" property="ethnic"/>
    <result column="HJ" jdbcType="VARCHAR" property="HJ"/>
    <result column="SJLY" jdbcType="VARCHAR" property="dataSource"/>
  </resultMap>





  <select id="selectPhotoByPage" resultMap="BaseResultMap">
    SELECT SFZH,XM,XB,XP,RKSJ_ZYK,MZ,HJ,SJLY
    FROM (SELECT ROWNUM AS rowno, t.* FROM (select * from ${tableNaem} ORDER BY RKSJ_ZYK,SFZH ASC) t WHERE RKSJ_ZYK &gt;= to_date(#{2,jdbcType=VARCHAR},'yyyy/mm/dd hh24:mi:ss') and  ROWNUM  &lt;= #{1}) table_alias WHERE table_alias.rowno  &gt; #{0}
  </select>

  <select id="selectPhotoByPageNoOrder" resultMap="BaseResultMap">
    SELECT * FROM
    ( SELECT A.*, ROWNUM RN
    FROM (SELECT * FROM ${tableNaem} where RKSJ_ZYK &gt;= to_date(#{2,jdbcType=VARCHAR},'yyyy/mm/dd hh24:mi:ss')) A
    WHERE ROWNUM &lt;=#{1} )
    WHERE RN &gt;  #{0}
  </select>


  <select id="selectPhotoCount"  resultType="java.lang.Integer">
    SELECT count(SFZH)  FROM ${tableNaem} WHERE RKSJ_ZYK &gt;= to_date(#{date},'yyyy/mm/dd hh24:mi:ss')
  </select>




  <insert id="testInsert" parameterType="Map">
    INSERT INTO "SCOTT"."photo" ("id", "SFZH", "XM", "XB", "XP", "MZ","HJ","RKSJ_ZYK") VALUES (#{id},#{cradId},#{id},'1',#{bytes,jdbcType=BLOB},'汉','shandong',to_date(#{changeTiem},'yyyy/mm/dd hh24:mi:ss'))
  </insert>


</mapper>